{% extends "base.html" %}

{% block title %}Project Description{% endblock %}

{%block content %}
<div class="container">
	<h1>Project Description</h1>
	<br />
	<p>In this project, I am analyzing college data available on the web between 2012-2015, through certain techniques used in conjunction with Python. I collect my data through webscraping the College Navigator website with Python. I then use sqlite3 to determine the tuition percent change among Private and Public Universities (4-year undergraduate program), as well as the number of universities that increased in tuition. <br />
    In addition, I use Python to call various APIs, in order to analyze College Scorecard Data. I determine the median debt paid by students after graduation from various income backgrounds and by percentile, from both Private and Public Universities.  </p>
</div>


{% endblock %}